body {
	background-image: url('../img/spider.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: right bottom;
	background-color: #fff;
   }

.well{
	 background-color: rgba(f, f, f, 1); 

}

h1{
	color: #fbb450;
}
